<div class="jumbotron text-center main-banner">
  <br>
  <h2>Welcome to the Wholesale Store!</h2>
  <p>Purchase supplies in bulk at the best discounts!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 item-box">
      <img src="http://yenra.com/conference-phone/conference-phone.jpg" width="90%" height="170">
      <h3>Phone</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4 item-box">
      <img src="https://images-na.ssl-images-amazon.com/images/I/41BQNGEMSZL._SX450_.jpg" width="90%" height="170">
      <h3>Fax Machine</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4 item-box-bottom">
      <img src="http://www.geekrez.com/UploadImages/478871banner4.jpg" width="90%" height="170">
      <h3>Printer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 item-box">
      <img src="http://s7d2.scene7.com/is/image/NationalBusinessFurniture/erc-13905_s7" width="90%" height="170">
      <h3>Desk</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4 item-box">
      <img src="https://ak1.ostkcdn.com/images/products/7986406/Office-Star-Pro-Line-II-Breathable-ProGrid-Ratchet-Back-Office-Chair-P15354508.jpg" width="90%" height="170">
      <h3>Chair</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4 item-box-bottom">
      <img src="https://s3.img-b.com/image/private/t_base,f_auto,c_lpad,h_800/product/LithoniaLighting/lithonia-lighting-2pm3n-g-b-3-32-18ld-mvol-21.jpg" width="90%" height="170">
      <h3>Light </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>

</div>
<br>
